.container{
    padding: 0 15px;
    margin: 0 auto;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container{padding: 0; max-width: 540px;}

  .header-contint .header-imgs .writer-img{
    height: 300px;
  }

  .nav-contint .brand-logo{
    width: 150px;
  }
  .state-contint .state-box{
    width: 210px;
  }
  
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .container{max-width: 720px;}
  html{
    font-size: 16px;
  }

  .about-contint .about-img span{
    width: 80px;
    height: 80px;
  }

  .nav-contint .brand-logo{
    width: 170px;
  }

  .weekly-contint{
    justify-content: space-between;
  }

  .weekly-contint .weekly-card{
    width:48%;
  }

  .achiev-contint .achiev-box{
   width: 48%;
  }

  .event-contint .event-box{
    width: calc((50% - 1px));
  }

  .testimonials-contint .testimonials-box{
    width: 48%;
  }

  .testimonials .scroll-btns .scroll-btn{
    width: 60px;
    height: 60px;
  }

  .blog-contint{
    justify-content: space-between;
  }

  .blog-contint .blog-item{
    width: 48%;
  }
  /*************************all blog *********************** */
  .blog-contint{
    justify-content: space-between;
  }

  .blog-contint .blog-item{
    width: calc(50% - 15px);
  }

  /*************************single blog *********************** */

  .fav-contint .fav-imgs{
    gap: 20px;
  }
  .fav-contint .fav-imgs img{
    width: calc(100% / 2 - 10px);
  }

  .commint-box{
    justify-content: space-between;
  }
  
  .commint-box .commint-img{
    width: 150px;
    height: 150px;
    margin: 0;
  }

  .commint-box .commint-text{
    width: calc(100% - 200px);
    text-align: start;
  }

  .commint-box .commint-text .commint-name{
    margin-bottom: 15px;
  }

  .commint-box .commint-text .commint-date{
    margin-bottom: 20px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .container{max-width: 960px;}

  .nav-contint .navbar{
    display: flex;
  }

  .nav-contint  .bars-menu{
    display: none;
  }

  /* header */

  .header-contint{
    flex-direction: row;
  }

  .header-contint .header-data{
    width: 48%;
    margin-bottom: 0;
    text-align: start;
  }
  .header-contint .header-data form .form-group{
    margin: 0;
  }
  .header-contint .header-imgs{
    width: 50%;
  }

  /* about */

  .about-contint .about-img{
    width: 47%;
    height: 450px;
    margin-bottom: 0;
  }

  .about-data{
    width: 47%;
  }

  /*  books */

  .book-contint .book-imgs,
  .book-contint .book-data{
    width: 47%;
  }

  /* weekly  */

  .weekly-contint .weekly-card{
    width: calc((100% / 4) - 15px);
  }

  /* achiev  */

  .achiev-contint .achiev-box{
    width: calc((100% / 3) - 14px)
  }

  /* event */

  .event-contint .event-box{
    width: calc((100% / 4) - 1px);
  }

  /* testimonials  */
  .testimonials-contint .testimonials-box{
    width: calc((100% / 3) - 15px);
  }
  /* blog */
  .blog-contint .blog-item{
    width: calc(100% / 3 - 20px);
  }

  .contact-contint .contact-form{
    width: 60%;
    margin-bottom: 0;
  }
  .contact-info-contint{
    width: 35%;
  }
  /* footer */
  footer .footer-contint .footer-bottom .footer-copyright{
    display: block;
  }
  /*************************all blog *********************** */

  .blog-contint .blog-item{
    width: calc(100% / 3 - 20px);
  }

  /*************************single product *********************** */

  .blog-contint .blog-desc{
    padding: 80px 100px;
  }

  
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  .container{max-width: 1140px;}
}