/******************nav***********************/

/**********header**************/

header{
  background-color: var(--scandary);
  padding: 140px 0 80px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.header-contint{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.header-contint .header-data{
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
}

.header-contint .header-data .header-title{
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 5px;
  color: var(--primary);
  line-height: 1.6;
}

.header-contint .header-data .header-title span{
  display: block;
  text-transform: capitalize;
  color: var(--dark);
  font-size: 2rem;
}

.header-contint .header-data .header-subtitle{
  font-size: .9rem;
  margin-bottom: 30px;
  color: var(--primary);
  text-transform: uppercase;
}

.header-contint .header-data .header-desc{
  line-height: 1.7;
  color: var(--dark-gray);
  margin-bottom: 30px;
}


.header-contint .header-data form .form-group{
  width: 300px;
  max-width: 100%;
  height: 40px;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  overflow: hidden;
  margin: auto;
}

.header-contint .header-data form .form-group input{
  width: 100%;
  height: 100%;
  border: none;
  padding: 10px 100px 10px 10px;
}

.header-contint .header-data form .form-group a{
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background-color: var(--primary);
  color: var(--white);
  text-transform: capitalize;
  font-weight: 700;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.header-contint .header-data form .form-group a::after{
  content: 'Thanks';
  width: 100%;
  height: 100%;
  background-color: var(--scandary);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary);
  font-weight: 700;
  transform: translateY(-100%);
  transition: 0.3s all linear 0.1s;
}

.header-contint .header-data form .form-group a:focus::after{
  transform: translateY(0%);
}

.header-contint .header-data form .form-group a span{
  transition: 0.3s transform linear 0.1s, 0.3s opacity linear;
}

.header-contint .header-data form .form-group a:focus span{
  transform: translateY(200%);
  opacity: 0;
}

.header-contint .header-imgs{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-contint .header-imgs .book-img{
  width: 48%;
}


.header-contint .header-imgs .book-img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header-contint .header-imgs .writer-img{
  width: 50%;
  height: 190px;
  position: relative;
  background-color: #fbb6b9;
  z-index: 1;
}

.header-contint .header-imgs .writer-img::after,
.header-contint .header-imgs .writer-img::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  background-color: transparent;
  border: 1px solid #fbb6b9;
  border-radius: 5px;
  opacity: 0.5;
  z-index: -1;
  height: calc(100% + 50px);
}
.header-contint .header-imgs .writer-img::after{
  transform: translate(40px, -45%);
}

.header-contint .header-imgs .writer-img::before{
  transform: translate(20px, -55%);
}

.header-contint .header-imgs .writer-img img{
  width: calc(100% + 25px);
  height: calc(100% + 25px);
  object-fit: contain;
  object-position: bottom right;
  position: absolute;
  bottom: 0;
  right: 0;
}

.header-animation{
  position: absolute;
  inset: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: 2;
}

.header-animation div{
  background-color: transparent;
  border-radius: 50%;
  box-shadow: inset 0 0 2px 3px var(--primary);
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 30px;
  animation:header-animation 20s linear infinite alternate;
}

.header-animation div:first-of-type{
  width: 70px;
  height: 70px;
}

.header-animation div:nth-of-type(2){
  width: 50px;
  height: 50px;
  animation-direction: alternate-reverse;
}

.header-animation div:last-of-type{
  width: 50px;
  height: 50px;
  animation-delay: 10s;
}

@keyframes header-animation{
  0%{
    opacity: 0;
  }
  16%, 48%, 78%{
    top: 80%;
    opacity: 0.3;
  }
  32%{
    top: 20%;
    opacity: 0.5s;
  }
  62%{
    top: 50%;
    opacity: 0.4;
  }
  90%{
    top: 60%;
    opacity: 0.3;
  }
  100%{
    top: 80%;
    left: 90%;
    opacity: 0.5;
  }

}
/*********about********************/

.about-contint{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-contint .about-img{
  width: 100%;
  border: 15px solid var(--primary);
  background-color: var(--primary);
  margin-bottom: 30px;
  border-radius: 9px;
  position: relative;
}

.about-contint .about-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 7px;
}

.about-contint .about-img span{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s all linear;
  cursor: pointer;
}

.about-contint .about-img span:hover{
  animation:videoHover 0.5s ease-in-out infinite alternate;
}

.about-contint .about-img span::after,
.about-contint .about-img span::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  border-radius: 50%;
  pointer-events: none;
  animation: videoPlay 2s infinite;
}

.about-contint .about-img span::before{
  animation-delay: 1s;
}

.about-contint .about-img span:hover:after,
.about-contint .about-img span:hover:before{
  animation-play-state: paused;
}

.about-contint .about-img span img{
  width: 45%;
  height: 45%;
  filter: var(--dark-img);
  object-fit: contain;
  margin-left: 5px;
}

@keyframes videoPlay{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.5);
  }
}

@keyframes videoHover{
  from{
    transform: translate(-47%, -50%);
  }
  to{
    transform: translate(-53%, -50%);
  }
}

.about-data{
  width: 100%;
}

.about-data .about-desc{
  font-size: 0.9rem;
  color: var(--dark-gray);
  line-height: 1.7;
  margin-bottom: 30px;
}

.about-data .about-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 20px;
  margin-bottom: 30px;
}

.about-data .about-info .about-item{
  width:40%;
}

.about-data .about-info .about-item .about-title{
  font-weight: 100;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: var(--dark);
}

.about-data .about-info .about-item .info-desc{
  color: var(--dark-gray);
  text-transform: capitalize;
  font-size: 0.9rem;
}

/**************books*************** */

.books{
  background-color: var(--scandary);
}

.book-contint{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.book-contint .book-imgs{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.book-contint .book-imgs .img-box{
  width: calc(50% - 15px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.book-contint .book-imgs .img-box:first-child{
  padding-bottom: 50px;
}
.book-contint .book-imgs .img-box:last-child{
  padding-top: 50px;
}

.book-contint .book-imgs img{
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  filter: brightness(0.8) blur(0.5px);
  transition: 0.3s all linear;
}

.book-contint .book-imgs img:hover{
  filter: brightness(1) blur(0px);
  transform: translateY(-5px);
}

.book-contint .book-data{
  width: 100%;
}

.book-contint .book-data .book-desc{
  margin-bottom: 30px;
}

.book-contint .book-data .book-selling-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.book-contint .book-data .book-selling-item:not(:last-child){
  margin-bottom: 30px;
}

.book-contint .book-data .book-selling-item .book-selling-img{
  width: 60px;
  height: 60px;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 4px 0px 0px rgb(0 0 0 / 0.1),
              8px 8px 0px 0px rgb(0 0 0 / 0.1);
  transition: 0.3s all linear;
}

.book-contint .book-data .book-selling-item .book-selling-img:hover{
  box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 0.1),
              0px 0px 0px 0px rgb(0 0 0 / 0.1);
}

.book-contint .book-data .book-selling-item .book-selling-img img{
  width: 60%;
  height: 60%;
  object-fit: contain;
  filter: var(--white-img);
}

.book-contint .book-data .book-selling-item .book-selling-info{
  width: calc(100% - 80px);
}

.book-contint .book-data .book-selling-item .book-selling-info .book-selling-title{
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 5px;
  font-size: 1.5rem;
  color: var(--dark);
}

.book-contint .book-data .book-selling-item .book-selling-info .book-selling-desc{
  color: var(--dark-gray);
  font-size: 0.85rem;
  line-height: 1.6;
}

/*************************state*********************/

.state-contint{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px 0;
}

.state-contint .state-box{
  width: 90%;
  padding: 80px 15px 20px;
  position: relative;
  background-color: var(--scandary);
  box-shadow: 8px 8px  0 #c27b7f80;
  transition: 0.3s box-shadow linear, 0.3s transform linear 0.3s;
}

.state-contint .state-box:hover{
  box-shadow: 0px 0px  0 #c27b7f80;
  transform: translateY(-8px);
}

.state-contint .state-box .state-img{
  width: 70px;
  height: 70px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.state-contint .state-box .state-img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: opacity(0.3);
}

.state-contint .state-box .state-num {
  font-size: 4rem;
  margin-bottom: 5px;
  color: var(--primary);
}

.state-contint .state-box .state-title {
  font-size: 1.2rem;
  text-transform: capitalize;
  color: var(--dark);
}

/********weekly**************/

.weekly{
  background-color: var(--scandary);
}

.weekly-contint{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 20px;
  padding: 30px 0;
}

.weekly-contint .weekly-card{
  width: 90%;
  background-color: var(--white);
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s all linear;
}

.weekly-contint .weekly-card:hover{
  transform: translateY(-8px);
  box-shadow: 0px 5px  10px rgb(194, 123, 127, 0.3);
}

.weekly-contint .weekly-card .weekly-card-img{
  width: 100%;
  height: auto;
  border-radius: 7px;
  overflow: hidden;
}

.weekly-contint .weekly-card .weekly-card-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.7);
  transform: scale(1.2) rotate(5deg);
  transition: 0.3s all linear;
}

.weekly-contint .weekly-card:hover .weekly-card-img img{
  filter: brightness(1);
  transform: scale(1) rotate(0deg);
}

.weekly-contint .weekly-card .weekly-card-body{
  padding: 20px 0 10px;
}

.weekly-contint .weekly-card .weekly-prog{
  text-transform: capitalize;
  font-weight: 500;
  color: var(--dark);
  font-size: 0.9rem;
  margin-bottom: 15px;
}

.weekly-contint .weekly-card .weekly-title{
  font-size: 1.5rem;
  color: var(--primary);
  font-weight: 700;
  margin-bottom: 15px;
}

.weekly-contint .weekly-card .weeklly-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.weekly-contint .weekly-card .weeklly-info .weekly-price{
  font-size: 1.5rem;
  color: var(--dark);
  font-weight: 700;
}

.weekly-contint .weekly-card .weeklly-info .weekly-rate{
  display: flex;
  align-items: center;
  gap: 5px;
}

.weekly-contint .weekly-card .weeklly-info .weekly-rate img{
  width: 20px;
  height: 20px;
  object-fit: contain;
}

/*************achievments******************/

.achiev-contint{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 40px;
}

.achiev-contint .achiev-box{
  width: 80%;
  box-shadow: 0 0px 10px rgb(0 0 0 / 0.1);
  border-radius: 10px;
  transition: 0.3s all ease-in-out;
  overflow: hidden;
}

.achiev-contint .achiev-box:hover{
  transform: translateY(-10px);
  box-shadow: 0 5px 15px rgb(0 0 0 / 0.1);
}

.achiev-contint .achiev-box .achiev-img{
  width: 100%;
  height: 260px;
}

.achiev-contint .achiev-box .achiev-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.achiev-contint .achiev-box .achiev-body{
  padding: 35px 20px;
  position: relative;
  z-index: 1;
}

.achiev-contint .achiev-box .achiev-body::after{
  content: '';
  width: 80px;
  height: 80px;
  position: absolute;
  top: 10px;
  right: 10px;
  background: url('../images/icons/award.svg') center / contain no-repeat;
  opacity: 0.2;
  z-index: -1;
}


.achiev-contint .achiev-box .achiev-body .achiev-title{
  font-size: 1.7rem;
  margin-bottom: 0.8em;
  font-weight: 500;
  color: var(--dark);
  text-transform: capitalize;
}

.achiev-contint .achiev-box .achiev-body .achiev-desc{
  text-transform: capitalize;
  color: var(--dark-gray);
  line-height: 1.7;
}

/****************event*************** */

.events{
  background-color: var(--scandary);
}

.event-contint{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 20px;
  padding: 30px 0;
}

.event-contint .event-box{
  width: 100%;
  border-radius: 7px;
  background-color: var(--white);
  padding: 60px 15px 30px;
  transition: 0.3s all ease-in-out;
}

.event-contint .event-box:hover{
  box-shadow: 0px 5px  10px rgb(194, 123, 127, 0.1);
  transform: translateY(-8px);
}

.event-contint .event-box .event-date{
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 5px;
  margin-bottom: 20px;
  opacity: 0.6;
  transition: 0.6s all ease-in-out;
}

.event-contint .event-box:hover .event-date{
  opacity: 1;
}

.event-contint .event-box .event-date .day{
  font-size: 4rem;
  color: var(--dark);
  font-weight: 700;
}

.event-contint .event-box .event-date .month{
  font-size: 2rem;
  color: var(--dark);
  font-weight: 500;
  text-transform: capitalize;
}

.event-contint .event-box .event-title{
  font-size: 1.7rem;
  color: var(--dark);
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 15px;
  text-transform: capitalize;
}

.event-contint .event-box .event-desc{
  color: var(--dark-gray);
  line-height: 1.7;
  font-size: .95rem;
  margin-bottom: 15px;
}

.event-contint .event-box .event-link{
  color: var(--primary);
  position: relative;
  padding: 4px 8px;
  z-index: 1;
}

.event-contint .event-box .event-link::after{
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--dark);
  opacity: 0.5;
  border-radius: 50%;
  z-index: -1;
  transition: 0.15s top linear,
              0.15s border-radius linear 0.3s,
              0.15s width linear 0.3s,
              0.15s height linear 0.3s,
              0.15s opacity linear 0.3s;
}

.event-contint .event-box .event-link:hover:after{
  top: 50%;
  border-radius: 0;
  opacity: 0.1;
  width: 100%;
  height: 100%;
}

/******************testimonials********************** */

.testimonials-contint{
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 30px 0;
  width: 100%;
  scroll-snap-type: X mandatory;
  scroll-behavior: smooth;
  overflow: auto;
}


.testimonials-contint::-webkit-scrollbar{
  display: none;
}

.testimonials-contint .testimonials-box{
  width: 90%;
  border-radius: 10px;
  background-color: var(--scandary);
  padding: 50px 15px 30px;
  transition: 0.3s all ease-in-out;
  box-shadow: 0px 0px  10px rgb(194, 123, 127, 0.1);
  flex-shrink: 0;
  scroll-snap-align: start;
}

.testimonials-contint .testimonials-box:hover{
  box-shadow: 0px 5px  15px rgb(194, 123, 127, 0.3);
  transform: translateY(-10px);
}

.testimonials-contint .testimonials-box .testimonials-desc{
  color: var(--dark-gray);
  line-height: 1.7;
  font-size: .95rem;
  margin-bottom: 20px;
}

.testimonials-contint .testimonials-box .testimonials-data{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  border-top: 1px solid var(--primary);
}

.testimonials-contint .testimonials-box .testimonials-data .testimonials-img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
  overflow: hidden;
}

.testimonials-contint .testimonials-box .testimonials-data .testimonials-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonials-contint .testimonials-box .testimonials-data .testimonials-name{
  font-size: 1.2rem;
  color: var(--dark);
  font-weight: 700;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.testimonials-contint .testimonials-box .testimonials-data .testimonials-job{
  font-style: italic;
  color: var(--dark-gray);
  font-size: 0.9em;
  font-weight: 500;
  text-transform: capitalize;
}

.testimonials .scroll-btns{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: 0 auto;
}

.testimonials .scroll-btns .scroll-btn{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: inset 0 0 15px rgba(194, 123, 127, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s all ease-in-out;
}

.testimonials .scroll-btns .scroll-btn img{
  width: 70%;
  height: 70%;
  object-fit: contain;
  filter: var(--primary-img);
  transition: 0.6s all ease-in-out;
}

.testimonials .scroll-btns .scroll-btn:first-child:active img{
  transform: translateX(-10px);
}

.testimonials .scroll-btns .scroll-btn:last-child:active img{
  transform: translateX(10px);
}

/**********readers********** */

.readers{
  background: url(../images/ctav5.jpg) center / cover no-repeat;
  position: relative;
  z-index: 1;
}

.readers::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(30, 30, 30, 0.6);
  z-index: -1;
}

.readers .readers-contint{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  width: 100%;
}

.readers .readers-contint .reader-title{
  font-size: 2.5rem;
  color: var(--white);
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.readers .readers-contint .reader-rate{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.readers .readers-contint .reader-rate .rate-img{
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border-radius: 50%;
  overflow: hidden;
}

.readers .readers-contint .reader-rate .rate-img img{
  width: 85%;
  height: 85%;
  object-fit: contain;
}

.readers .readers-contint .reader-rate .rate-img:hover img{
  animation: rate-animation 0.9s;
}

@keyframes rate-animation{
  0%{
    transform: translateY(0);
  }
  25%{
    transform: translateY(100%);
  }
  50%{
    opacity: 0;
    transform: translateY(-100%);
  }
  75%{
    transform: translateY(0);
    opacity: 1;
  }
}

.readers .readers-contint .reader-desc{
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.7;
  text-align: center;
}

.readers .readers-contint .reader-desc span{
  display: block;
}

/************blog************** */

.blog-contint{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 0;
  row-gap: 30px;
}

.blog-contint .blog-item{
  width: 80%;
  overflow: hidden;
  border-radius: 7px;
  box-shadow: 0px 0px  10px rgb(0, 0, 0, 0.1);
  transition: 0.3s all ease-in-out;
}

.blog-contint .blog-item:hover{
  box-shadow: 0px 5px  15px rgb(0, 0, 0, 0.15);
  transform: translateY(-10px);
}

.blog-contint .blog-item .blog-img{
  width: 100%;
  height: 260px;
}

.blog-contint .blog-item .blog-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-contint .blog-item .blog-body{
  padding: 20px 15px;
}

.blog-contint .blog-item .blog-body .blog-title{
  font-size: 1.55rem;
  color: var(--primary);
  font-weight: 500;
  margin-bottom: 15px;
  line-height: 1.2;
  text-transform: capitalize;
}

.blog-contint .blog-item .blog-body .blog-desc{
  color: var(--dark-gray);
  font-size: 0.85rem;
  line-height: 1.5;
  margin-bottom: 20px;
}

.blog-contint .blog-item .blog-body .blod-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  border-top: 1px solid rgba(194, 122, 126, 0.3);
}

.blog-contint .blog-item .blog-body .blod-info .blog-info-box{
  display: flex;
  align-items: center;
  gap: 5px;
}

.blog-contint .blog-item .blog-body .blod-info .blog-info-box .icon{
  width: 20px;
  height: 20px;
}

.blog-contint .blog-item .blog-body .blod-info .blog-info-box .icon img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: var(--primary-img);
}

.blog-contint .blog-item .blog-body .blod-info .blog-info-box .blog-date{
  color: var(--dark-gray);
  font-size: 0.95rem;
  font-weight: 500;
  text-transform: capitalize;
  font-style: italic;
}

/************video************** */

.video{
  background: url(../images/ctav4.jpg) center / cover no-repeat;
  position: relative;
  padding: 80px 0;
  z-index: 1;
}

.video::after{
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--dark);
  opacity: 0.5;
  z-index: -2;
}

.video .video-data .video-title{
  font-size: 3rem;
  color: var(--white);
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 10px;
  line-height: 1.5;
}

.video .video-data .video-title span{
  display: block;
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: lowercase;
}

.video .video-data .video-desc{
  font-size: 0.95rem;
  color: var(--white);
  opacity: 0.8;
  margin-bottom: 20px;
}

/*************contact*************** */

.contact-contint{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-contint .contact-form{
  padding: 30px;
  background-color: var(--scandary);
  width: 100%;
  margin-bottom: 30px;
}

.contact-contint .contact-form .form-group:not(:last-of-type){
  margin-bottom: 20px;
}

.contact-contint .contact-form .form-group:last-of-type{
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-contint .contact-form .form-group input,
.contact-contint .contact-form .form-group textarea{
  width: 100%;
  padding: 10px;
  border: none;
  color: var(--dark);
  font-size: 1rem;
  font-weight: 500;
}

.contact-contint .contact-form .form-group input::placeholder,
.contact-contint .contact-form .form-group textarea::placeholder{
  color: var(--dark-gray);
  opacity: 0.8;
  font-size: 0.9rem;
  text-transform: capitalize;
}

.contact-contint .contact-form .form-group textarea{
  height: 150px;
  resize: none;
}

.contact-info-contint{
  background-color: var(--scandary);
  padding: 30px 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-info-contint .contact-item:not(:last-of-type){
  margin-bottom: 20px;
}

.contact-info-contint .contact-item .contact-title{
  text-transform: uppercase;
  margin-bottom: 15px;
  font-weight: 500;
  color: var(--dark);
  font-size: 1.35rem;
  opacity: 0.95;
}

.contact-info-contint .contact-item .info-desc{
  color: var(--dark);
  font-size: 1.2rem;
  line-height: 1.5;
  opacity: 0.85;
}

.contact-info-contint .social-title {
  font-size: 1.5rem;
  color: var(--dark);
  margin-bottom: 15px;
}

/*****************footer******************** */